# Build
build/
out/
bin/

# Visual Studio
.vs/
.vscode/
*.vcxproj.user
*.VC.db
*.opendb

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json

# Generated
*.obj
*.o
*.exe
*.dll
*.pdb
*.ilk
*.lib

# Qt
moc_*
ui_*.h
qrc_*.cpp

# Logs
*.log

# OS
.DS_Store
Thumbs.db